<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>冬奥精神宣讲团受邀参加北体竞技体校新年晚会</title>
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="./js/vue.js"></script>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./js/axios.min.js"></script>

    <script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.flexslider-min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="app">
    <div class="head">
        <div class="wrapper clearfix">
            <div class="clearfix" id="top">
                <h1 class="fl"><a href="index.html"><img src="./img/asl/logo.png"></a></h1>
                <ul class="clearfix" id="bott">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="proList1.html">活动信息</a>
                    </li>
                    <li><a href="decoration.html">冠军故事</a></li>
                    <li><a href="paint.html">奥运文化</a>
                        <!--                    <div class="sList2">-->
                        <!--                    <div class="clearfix"><a href="zbproList.html">夏奥专题</a><a href="bzproList.html">冬奥专题</a></div>-->
                        <!--                </div>-->
                    </li>
                    <li><a href="perfume.html">社区文化</a></li>
                </ul>
                <div class="fr clearfix" id="top1"><p class="fl"><a href="login.html" id="login">登录</a><a href="reg.html" id="reg">注册</a>
                </p>
                    <form action="#" method="get" class="fl"><input type="text" placeholder="志愿服务"/><input
                            type="button"/></form>
                    <!--                <div class="btn fl clearfix"><a href="mygxin.html"><img src="img/grzx.png"/></a><a href="#" class="er1"><img-->
                    <!--                        src="img/ewm.png"/></a><a href="cart.html"><img src="img/gwc.png"/></a>-->
                    <!--                    <p><a href="#"><img src="img/smewm.png"/></a></p>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-----------------address------------------------------->
    <div class="address">
        <div class="wrapper clearfix"><a href="index.html">首页</a>
            <span>/</span><a href="proList1.html" class="on">活动信息</a>
            <span>/</span><a href="activitySummary3.html" class="on">冬奥精神宣讲团受邀参加北体竞技体校新年晚会</a>
        </div>
    </div><!-------------------current---------------------->
    <br>
    <div class="layout1">
        <div class="aside4" style="width: 95%">
            <h1>“青春热情融化冰雪”<br>——冬奥精神宣讲团受邀参加北体竞技体校新年晚会</h1>
            <br>
            <h6>【来源】：信息科大奥宣团 | 2020-01-05 </h6>
            <br>
            <span>2020年1月3日，在这个辞旧迎新的日子里，北京体育大学附属竞技体校圆满举办了新年晚会，我校冬奥精神宣讲团的民乐团成员们受邀参加晚会并表演了精彩的节目。</span>
            <span>中国民族器乐历史悠久，演奏形式多样，我校民乐团的成立正是对传统民族音乐的继承和发展。在校团委肖潇老师的指导下，民乐团取得了显著的进步。晚会第二阶段，我校冬奥精神宣讲团中的民乐团成员们着统一服装，以最饱满的精神状态为大家带来了《新赛马》和《阿西里西》的合奏表演。</span>
            <span>《新赛马》是《赛马》的改编版本，改编后的曲目整体更为饱满，无论是气宇轩昂的赛手，还是奔腾嘶鸣的骏马，都被旋律表现得惟妙惟肖。音乐在群马的嘶鸣声中展开，旋律粗犷奔放，描绘了欢庆赛马的盛况。</span>
            <span>民乐团的同学们以精妙的技艺和近乎完美的配合，将晚会氛围推向了高潮，展现了我校自信的风采与魅力。</span>
            <br>
            <img src="img/slideShow/a12.png" style="width: 500px;height: 300px;">
            <br>
            <span>一曲完毕，意犹未尽之际，民乐团同学们又为大家带来了《阿西里西》的合奏。</span>
            <span>“阿西里西”是彝族语言，意为：我们的好朋友。在这个特殊的日子里演奏这首欢快且节奏分明的曲子更是表达了我们对北体竞技体校及运动员们最美好的祝福。民乐团的同学们将激昂和舒缓的不同韵律诠释得淋漓尽致，令观众陶醉其中，也赢得了热烈的掌声和竞技体校领导们的高度评价。</span>
            <span>宣讲团成员们也欣赏到了运动员们表演的精彩节目，被运动员的热情和飒爽风姿所感染，对他们的多才多艺赞不绝口。</span>
            <br>
            <b style="text-align: center"><span>祝愿在新的一年里</span><br>
            <span>运动员们能为国家赢得更多奖项</span><br>
            <span>也希望我们两校友谊长存！</span></b><br>
            <img src="img/slideShow/a13.png" style="width: 500px;height: 300px;">
            <p style="text-align: center; font-family: '宋体'; font-size: 15px;margin-top: 5px;">宣讲团成员与北体竞技体校领导老师及同学合影留念</p>
            <br>
            <div><div style="font-size: 16px;font-family: '宋体';">上一篇：<a href="activitySummary2.html">【官方活动】理学院师生团队赴张家口开展社会实践</a><br>下一篇：<a href="activitySummary4.html">冬奥精神宣讲团在花园楼社区开展双语宣讲</a></div><div style="text-align: right">浏览量：56</div></div>
        </div>
    </div>
    <el-card class="el-card-d" shadow="none">
        <div class="el-card-messages" style="text-align: center;">
            <h2 style="text-align: left;margin-bottom: 10px;">请发表你的评论：</h2>
            <el-input placeholder="输入昵称" style="margin-bottom: 10px;" v-model="username"></el-input>
            <el-input type="textarea" :rows="3" placeholder="输入留言" maxlength="100" v-model="message"></el-input>
            <el-button type="info" round class="submit-message" @click="submitMessage">评论</el-button>
        </div>
    </el-card>
    <com-2></com-2>
    <!--防止底部内容被footer覆盖-->
    <div style="height: 50px"></div>
    <!--返回顶部-->
    <div class="gotop">
        <a href="#" class="dh">
            <dl>
                <dt><img src="img/gt2.png"/></dt>
                <dd>联系<br/>我们</dd>
            </dl>
        </a>
        <a href="#" class="toptop" style="display: none">
            <dl>
                <dt><img src="img/gt4.png"/></dt>
                <dd>返回<br/>顶部</dd>
            </dl>
        </a>
        <p>工作日：<br>早9:00-晚18:00<br>杨老师：<br>400-888-8888 </p>
    </div><!--footer-->
    <div class="footer">
        <p class="dibu">
            <a href="footer1.html">平台简介</a><span> | </span>
            <a href="footer2.html">服务流程</a><span> | </span>
            <a href="footer3.html">客户服务</a><span> | </span>
            <a href="footer4.html">关于我们</a><br>
            心奥文享平台是专注于奥林匹克文化与社区文化融合，发布招募奥运特色的社区文化活动的社区文化平台。<br/>
            致力于成为社区建设的文化支持人才库，活动库，文化库。
        </p>
    </div>
</div>
<script>
    const bus = new Vue(); //用于组件之间的数据传递

    Vue.component("com-2", {
        template: `
            <el-card class="el-card-d" shadow="none">
                <h2 style="text-align: left;margin-bottom: 10px;">评论列表：</h2>
                <div class="card6" v-for="(info,index) in list" :key="index">
                    <div class="" style="font-size: 16px; font-family: '宋体';"><span>{{info.username}}:</span>
                        <span>{{info.content}}</span></div>
                </div>
            </el-card>
            `,
        data() {
            return {
                list: [
                    { username: '小王', content: "今晚的节目真精彩！" },
                    { username: '张三', content: "《阿西里西》超好听！" },
                    { username: '李四', content: "祝愿在新的一年里，运动员们能为国家赢得更多奖项，也希望我们两校友谊长存！" }
                ]
            }
        },

        // 接受submitMessage抛出来的数据，并且更新data中的数据
        mounted() {
            bus.$on("test", (name, message) => {
                this.list.push({ username: name, content: message })
            })
        }
    });

    new Vue({
        el: '.app',
        data() {
            return {
                username: "",
                message: ""
            }
        },
        methods: {
            submitMessage() {
                if (this.message == '' || this.message.replace(/(^\s*)|(\s*$)/g, "") == "") {
                    this.$message('写点啥提交也行呀😉');
                    return;
                }else{//  连接后端后替换为调用后端的代码
                    bus.$emit("test", this.username, this.message) //如果数据不为空，就利用中间件把数据抛出去
                    // 同时清空两个input输入框
                    this.username = this.message = '';
                }
            },
        }
    })
</script>
<style>
    .submit-message{
        /*width: 7%;*/
        background: rgb(235, 245, 247);
        color: #000;
        /*letter-spacing: 4px;*/
        margin-top: 10px;
    }
    .el-card-d{
        margin: 10px 100px 20px 100px;
        width: 88%;
        background-color: #f0f0f0;
        border-radius: 0;
    }
    .card6{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        /*background-color: #fff;*/
        /* 溢出隐藏 */
        overflow: hidden;
        /* 弹性布局 */
        display: flex;
        /* 元素纵向排列 */
        flex-direction: column;
    }
</style>
</body>
</html>
